sudo: false
dist: xenial
language: python
cache: pip

python:
  - 2.7
  - 3.3
  - 3.4
  - 3.5
  - 3.6
  - 3.7-dev

env:
  matrix:
    - TOXENV=py
  global:
    - LOGNAME=travis

matrix:
  allow_failures:
    - python: 3.7-dev
  include:
    - python: 3.6
      env: TOXENV=flake8

addons:
  apt:
    packages:
    - dbus
    - dbus-x11

install:
  - pip install tox

before_script:
  - dbus-launch --version

script:
  - dbus-launch -- tox

after_script:
  - pip install codecov
  - codecov
